<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let character"> {{YouTubers.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let character"> {{YouTubers.type}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Clothing">
      <th mat-header-cell *matHeaderCellDef> Subscribers </th>
      <td mat-cell *matCellDef="let character"> {{YouTubers.subscribers}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Clothing">
        <th mat-header-cell *matHeaderCellDef> Date Joined </th>
        <td mat-cell *matCellDef="let character"> {{YouTubers.dateJoined}} </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
